@use 'default';
@use 'animations';

#title_main.about{
    background: linear-gradient(default.$lblue, default.$blue);
    background: -o-linear-gradient(default.$lblue, default.$blue);
    background: -moz-linear-gradient(default.$lblue, default.$blue);
    background: -webkit-linear-gradient(default.$lblue, default.$blue);
}

#history_about{
    margin-top: 80px;
    .title_about_history{
        h2{
            color: default.$lblue;
        }

        p{
            text-align: justify;
            padding-bottom: 8px;
        }

        a[data-toggle="collapse"]{
            &:after{
                content: "Показать полностью";
                color: default.$lblue;
                font-weight: bolder;
                cursor: pointer;
            }

            &[aria-expanded="true"]{
                &:after{
                    content: "Свернуть"
                }
            }
        }
    }
    .img_about_history{
        padding: 20px;
        img{
            width: inherit;
        }
    }
}

#disciplines{
    
    margin-top: 28px;
    padding: 28px 0;

    h2{
        color: default.$pink;
        margin-bottom: 20px;
    }

    .DispCard{
        background-color: white;
        text-decoration: none;
        color: black;
        max-width: 400px;
        width: auto;
        max-height: 150px;
        height: auto;
        box-shadow: 0 4px 8px default.$shadow;
        padding: 16px;
        margin: 16px auto 0;
        border-radius: 8px;

        h5{
            margin-bottom: 0;
            span{
                color: black;
                opacity: 0.6;
                font-size: 14px;
                font-weight: normal;
            }
        }

        p{
            span{
                color: black;
                font-weight: 500;
            }
        }
        @extend .transition-cubic;
        @extend .transform-move-up;
        &:hover{
            box-shadow: 0 8px 12px default.$shadow;
        }

        &:active{
            box-shadow: 0 2px 4px default.$shadow;
            background: rgb(250, 250, 250);
        }
    }
}

.quote-staff{
    width: 100%;
    height: inherit;
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px default.$shadow;
    @extend .transition-cubic;
    @extend .transform-move-up;
    *{
        @extend .transition-cubic;
    }

    &:hover{
        box-shadow: 0 6px 10px default.$shadow;
    }

    .quote-staff__info{

        .quote-staff__info__img{
            margin-right: 20px;
            font-size: 80px;
            width: auto;
        }
        p{
            width: 100%;
        }

        .quote-staff__info__icon{
            font-size: 24px;
            opacity: 0.7
        }
    }

    .quote-staff__quote__block{
        .quote-staff__quote{
            margin-top: 10px;
            text-align: justify;
        }
        .open-feedback{
            cursor: pointer;
            color: default.$lblue;
            &:hover{
                color: default.$blue;
            }
        }
    }
}

#feedback_inter{
    margin-top: 80px;
    h2{
        color: default.$lblue;
    }
}

#staff {
    margin-top: 80px;
    scroll-margin-top: 40px;

    h2{
        color: default.$orange;
        margin-bottom: 16px;
    }

    .col_p{
        padding: 4px;

        .StaffCard{
            padding: 4px 8px ;
            box-shadow: 0 1px 3px default.$shadow;
            border-radius: 4px;
            @extend .transition-cubic;
            
            cursor: pointer;
            color: default.$dark;
    
            &:hover{
                transform: translateY(-2px);
                -webkit-transform: translateY(-2px);
                box-shadow: 0 2px 4px default.$shadow;
                p{color: black;}
            }

            &:active{
                background-color: rgb(250, 250, 250);
                transform: scale(0.97);
                -webkit-transform: scale(0.97);
            }
    
            .staff__photo{
                max-width: 28px;
                min-width: 28px;
                width: 100%;
                height: 100%;
                align-self: center;
                @extend .transition-cubic;
                padding: 1px;
                svg{
                    text-align: center;
                    vertical-align: middle;
                    height: 100%;
                    width: 100%;
                    color: default.$orange
                }
            }
            .staff__name{
                p{
                    padding-left: 8px;
                    font-size: 14px;
                    span{
                        font-size: 16px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

#CMK{
    margin-top: 80px;
    margin-bottom: -100px;
    scroll-margin-top: 40px;
    
    h2{
        margin-bottom: 30px;
    }
    .CMK-docs{
        justify-content: center;
        p{
            display: block;
            background-color: rgb(245, 245, 245);
            margin: 12px 0;
            box-shadow: 0 2px 4px #2a2a2a4b;
            border-radius: 5px;
            @extend .transition-cubic;
            @extend .transform-scale;

            .cmk_link{
                &:before{
                    content: url('https://api.iconify.design/emojione-v1:document-with-text.svg?height=16');
                    vertical-align: middle;
                    margin-right: 10px;
                }
                color: black;
                padding: 8px 16px;
                font-weight: 500;
                width: 100%;
                height: 100%;
                display: block;
            }
            &:hover{
                box-shadow: 0 2px 6px #2a2a2a4b;
            }
            &:active{
                box-shadow: 0 1px 4px #2a2a2a4b;
            }
        }
        
    }
    .img_CMK{
        padding: 20px 20px 0 20px;
        img{
            padding: 40px 40px 0 40px;
            width: inherit;
            max-width: 400px;
        }
    }
}

.modal__staff{
    height:100%;
    
    .modal__staff__info{
        p{
            padding-bottom: 10px;
        }
        table{
            font-size: 0.95em;
            margin-top: 5px;
            margin-bottom: 0;
        }
        table{
            td, tr, th{
                padding: 8px;
            }
            width: max-content;
            width: intrinsic;           /* Safari/WebKit используют нестандартное имя */
            width: -moz-max-content;    /* Firefox/Gecko */
            width: -webkit-max-content; /* Chrome */
        }
        a{
            color: default.$lblue;
            font-weight: 500;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

@media screen and (max-width:567px){
    .staff__photo{
        display: none;
    }
}