
@keyframes pulse{
    from{
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
    }
    to{
        transform: scale(1.15);
        -webkit-transform: scale(1.15);
        -moz-transform: scale(1.15);
        -o-transform: scale(1.15);
        -ms-transform: scale(1.15);
    }
}

@keyframes pulseBackground{
    from{
        background-color: #eee5,
    }
    to{
        background-color: #ddd8,
    }
}

@keyframes fadeInFromTop{
    from{
        top: 0;
        z-index: 1029;
    }
    to{
        top: 80px;
        z-index: 1031;
    }
}


@keyframes fadeOutToTop{
    from{
        top: 80px;
    }
    to{
        top: 0;
    }
}