$dblue: #080F36;
$blue: #111D5E;
$lblue: #354ED1;
$purple: #98248F;
$pink: #B21F66;
$orange: #DE7128;
$lorange: #EE9A2F;
$lgray: #c8d6e5;
$mint: #1FB277;
$dmint: #0F8455;
$lgreen: #64D67D;
$green: #30A150; 
$llblue: #49CEE0;
$dark: rgb(49, 49, 49);
$shadow:#2a2a2a60;

.transition-cubic{
    transition: all 0.3s cubic-bezier(0.1, 0.8, 0.3, 1.2);
    -o-transition: all 0.3s cubic-bezier(0.1, 0.8, 0.3, 1.2);
    -moz-transition: all 0.3s cubic-bezier(0.1, 0.8, 0.3, 1.2);
    -webkit-transition: all 0.3s cubic-bezier(0.1, 0.8, 0.3, 1.2);
}

.transition-ease{
    transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.transform-scale{
    &:hover{
        transform: scale(1.03);
        -o-transform: scale(1.03);
        -ms-transform: scale(1.03);
        -moz-transform: scale(1.03);
        -webkit-transform: scale(1.03);
    }

    &:active{
        transform: scale(0.97);
        -o-transform: scale(0.97);
        -ms-transform: scale(0.97);
        -moz-transform: scale(0.97);
        -webkit-transform: scale(0.97);
        filter: brightness(0.85);
        -o-filter: brightness(0.85);
        -moz-filter: brightness(0.85);
        -webkit-filter: brightness(0.85);
    }
}

.transform-move-up{
    &:hover{
        transform: translateY(-8px);
        -o-transform: translateY(-8px);
        -moz-transform: translateY(-8px);
        -webkit-transform: translateY(-8px);
    }

    &:active{
        transform: scale(0.97);
        -o-transform: scale(0.97);
        -moz-transform: scale(0.97);
        -webkit-transform: scale(0.97);
        filter: brightness(0.85);
        -o-filter: brightness(0.85);
        -moz-filter: brightness(0.85);
        -webkit-filter: brightness(0.85);
    }
}

.transform-move-left{
    transform: translateX(8px);
    -ms-transform: translateX(8px);
    -moz-transform: translateX(8px);
    -o-transform: translateX(8px);
    -webkit-transform: translateX(8px);
}

.bg-linear-gray{
    color: black;
    background: linear-gradient($lgray, white);
    background: -moz-linear-gradient($lgray, white);
    background: -o-linear-gradient($lgray, white);
    background: -webkit-linear-gradient($lgray, white);
    background: -ms-linear-gradient($lgray, white);
}


#title_main{
    margin: 10vh 0;
    height: 80vh;
    width: 100%;
    .bg_th{
        background-image: url('/svg/LOGO_BG.svg');
        background-size: auto;
        background-repeat: no-repeat;
        background-position-y: 50%;
    }
    .title_text{
        color: white;
        p{
            padding-top: 15px;
            span{
                font-weight: bolder;
            }
        }
    }
    .triple_helix{
        text-align: center;
        width: 100%;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
            max-width: 320px;
            max-height: 320px;
        }
    }
}

img.arrow_down{
    transform: translate(-50%,-50%) scale(1);
    -webkit-transform: translate(-50%,-50%) scale(1);
    -o-transform: translate(-50%,-50%) scale(1);
    -moz-transform: translate(-50%,-50%) scale(1);
    left: 50%;
    position: absolute;
    top: calc(80vh + 60px);
    width: 50px;
    height: 50px;
    cursor: pointer;
    @extend .transition-cubic;
    &:hover{
        transform:  translate(-50%,-50%) scale(1.15);
        -o-transform:  translate(-50%,-50%) scale(1.15);
        -moz-transform:  translate(-50%,-50%) scale(1.15);
        -webkit-transform:  translate(-50%,-50%) scale(1.15);
        -ms-transform:  translate(-50%,-50%) scale(1.15);
    }
}

.pagination{
    li{
        &:before{
            content: none
        }
    }
    .more-link{
        margin-right: 5px;
        padding: 3px;
        width: 35px;
        height: 35px;
        font-weight: bolder;
        border: 2px solid $lblue;
        
        a{color: $lblue;}
        &.active{
            background: linear-gradient($lblue, darkblue);
            background: -moz-linear-gradient($lblue, darkblue);
            background: -o-linear-gradient($lblue, darkblue);
            background: -webkit-linear-gradient($lblue, darkblue);
            background: -ms-linear-gradient($lblue, darkblue);
            border: none;
            a{color: white;}
        }
    }
}

section.param-onpage{
    margin-top: 60px;
    .text-param-onpage{
        *{
            max-width: 100%;
        }
        &.param-onpage__0{
            h2, a{
                color: $orange;
                &.more-link{
                    color: white;
                    background: linear-gradient($lorange, $orange);
                }
            }
        }
        
        &.param-onpage__1{
            h2, a{
                color: $purple;
                
                &.more-link{
                    color: white;
                    background: linear-gradient($pink, $purple);
                }
            }
        }
        
        &.param-onpage__2{
            h2, a{
                color: $lblue;
                
                &.more-link{
                    color: white;
                    background: linear-gradient($lblue, $blue);
                }
            }
        }

        &.param-onpage__2{
            h2, a{
                color: $mint;
                
                &.more-link{
                    color: white;
                    background: linear-gradient($mint, $dmint);
                }
            }
        }

        a.link-for-student{
            margin-top: 10px;
            display: list-item;
            list-style: none;
            font-weight: 500;
            @extend .transition-cubic;
            @extend .transform-move-left;
            &:after{
                margin-left: 10px;
                content: '\0279C';
                opacity: 0.4;
                @extend .transition-cubic;

            }
            &:hover{
                &:after{
                    opacity: 0.9;
                }
            }
        }
    }
    img.img-param-onpage{
    //    height: fit-content(300px);
       height: auto;
       width: auto;
       max-width: 100%;
       padding: 8px; 
    }
}

@media screen and (max-width:768px){
    .triple_helix{
        display: none;
    }
}
