@use 'default.scss';

#title_main{
  &.degree_bach{
    .bg_th{
      padding: 30px 0;
    }
  background: linear-gradient(default.$lblue, transparent);
  height: auto;
  }
  &.degree_mag{
    .bg_th{
      padding: 30px 0;
    }
    background: linear-gradient(default.$pink, transparent);
    height: auto;
  }
}