@use 'default';

#title_main.documents{
    background-image: url("/svg/LOGO_BG.svg"),linear-gradient(default.$mint,default.$dmint);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right center;
    min-height: 80vh;
    height: auto;
    height: max-content;
    .category-doc-btn{
        background: rgba(255, 255, 255, 0.082);
        margin-top: 10px;
        margin-right: 10px;
        padding: 10px;
        text-align: left;
        height: auto;
        &:hover{
            background: #fff3;
        }
    }
}

@media screen and (max-width: 567px){
    #title_main.documents{
        background-position: center center;
    }
}

#documents_list{
    h2{color: default.$lblue; margin: 1rem 0;}
    h4{color: default.$dmint; margin: 0.75rem 0;}
    a.document-link{
        align-items: center;
        &:before{
            content: url('https://api.iconify.design/emojione-v1:document-with-text.svg?height=24');
            align-self:center;
            font-size: 1em;
            margin-right: 10px;
        }
        padding: 10px;
        margin: 5px 5px 0 0;
        color: #222;
        transition: all 0.3s ease;
        border-radius: 3px;
        display: flex;
        background: whitesmoke;
        .text-indoc{
            small{
                display: block;
                opacity: 0.7;
                font-weight: 500;
            }
        }
        // &:after{
        //     transition: all 0.3s ease;
        //     content:"\0279C";
        //     position: absolute;
        //     align-self:center ;
        //     right: 20px;
        // }
        &:hover{
            box-shadow: 0 2px 5px default.$shadow;
        }
        &:active{
            background: default.$lgray;
        }
    }
}