@use 'default';
@import "./animations.scss";

#literature{

    .literature__nav{
        padding-top: 20px;
        label{
            margin-bottom: 4px;
        }
        input, select{
            width: 97%;
            padding: 4px 8px;
            background: whitesmoke;
            border: 1px solid default.$shadow;
            border-radius: 4px;
        }
    }

    .keywords{
        margin-top: 8px;
        .keyword{
            cursor: pointer;
            padding: 4px 12px;
            margin-right: 4px;
            background: default.$lblue;
            color: white;
            border-radius: 4px;
            transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            &:hover{
                background: default.$dblue;
                svg{
                    color: red
                }
            }
        }
    }

    .literature__content{
        margin-top: 28px;

        .literature__bookInList{
            padding: 8px;
            box-shadow: 0 -180px 60px -60px rgba(0, 0, 0, 0.705) inset,
            0 2px 4px default.$shadow;
            border-radius: 8px;
            height: 320px;
            display: grid;
            display: -moz-grid;
            display: -o-grid;
            display: -webkit-grid;
            align-items: end;

            transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.15);
            -o-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.15);
            -moz-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.15);
            -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.15);

            &:hover{
                box-shadow: 0 -200px 40px -40px rgba(0, 0, 0, 0.8) inset,
                0 2px 4px default.$shadow;
                transform: scale(1.03);
            }

            &:active{
                transform: scale(0.95);
                box-shadow: 0 -240px 60px -60px rgba(0, 0, 0, 0.6) inset,
                0 1px 2px default.$shadow;
            }

            *{
                transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1);
                -o-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1);
                -moz-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1);
                -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1);
            }
            p.bookInList__info{
                -moz-hyphens: auto;
                -webkit-hyphens: auto;
                -ms-hyphens: auto;
                hyphens: auto;
                z-index: 1;
                height: auto;

                span{
                    color: white;
                    display: block;
                    text-overflow: ellipsis;
                    &.info__category{
                        color: default.$orange;
                        font-weight: 500;
                    }
                    &.info__title{
                        font-size: 18px;
                        line-height: normal;
                        font-weight: bold;
                    }
                    &.info__author{
                        color: rgb(200, 200, 200)
                    }
                }
                strong{
                    color: black;
                }
            }
        }
    }
}

.modal__book{
    overflow-y: auto;

    // padding-top: 0px;
    .book__img{
        padding: 0 16px;
        width: 100%;
        text-align: center;
        img{
            max-height: 400px;
            width: auto;
            max-width: 100%;
        }
    }
    .book__info{
        h4{margin-bottom: 0;}
        p{
            margin-top: 8px;
            span{
                font-weight: 500;
            }
            &.__authors{
                margin-top: 4px;
            }
            &.__category{
                margin-top: 0;
                font-weight: 500;
                color: default.$lblue
            }
            &.__keywords{
                .book__keyword{
                    background: whitesmoke;
                    padding: 4px 8px;
                    margin-right: 4px;
                    margin-top: 4px;
                    border-radius: 4px;
                    display: inline-block;
                    width: -moz-max-content;
                    width: -webkit-max-content;
                    width: -o-max-content;
                    width: max-content;
                    cursor: pointer;
                    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                    -o-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                    -moz-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                    -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                    &:hover{
                        background: red;
                    }
                    &:active{
                        background: red;

                        transform: scale(0.95);
                        -o-transform: scale(0.95);
                        -moz-transform: scale(0.95);
                        -webkit-transform: scale(0.95);
                        -ms-transform: scale(0.95);
                    }
                }
            }
        }
    }
}

@media screen and (max-width:465px){
    #literature{
        .literature__content{        
                .literature__bookInList{
                    
                    .literature-list-image{
                        background-size: cover !important;
                        width: 140px;
                        border: 1px solid red;
                    }
            }
        }
    }
}