@use 'default';

#literature{

    .literature__nav{
        padding-top: 20px;
        label{
            margin-bottom: 3px;
        }
        input, select{
            width: 97%;
            padding: 3px 5px;
            border: 1px solid default.$shadow;
            border-radius: 5px;
            font-size: 14px;
        }
    }

    .keywords{
        margin-top: 10px;
        .keyword{
            cursor: pointer;
            padding: 5px 10px;
            margin-right: 5px;
            background: default.$lblue;
            color: white;
            border-radius: 5px;
            transition: all 0.3s ease;
            &:hover{
                background: default.$dblue;
                svg{
                    color: red
                }
            }
        }
    }

    .literature__content{
        margin-top: 30px;

        .literature__bookInList{
            margin:0 10px 10px 0;
            padding: 10px;
            box-shadow: 0 3px 10px default.$shadow;
            border-radius: 10px;
            img{
                border-radius: 10px;
                max-width: 100%;
                height: auto;
                max-height: 200px;
            }
            p{
                span{
                    color: default.$lblue;
                    font-weight: 500;
                }
                strong{
                    color: black;
                }
                color: gray;
            }
        }
    }
}

.modal__book{
    overflow-y: auto;
    padding-top: 20px;
    .book__img{
        padding: 0 20px;
        width: 100%;
        text-align: center;
        img{
            border-radius: 20px;
            max-height: 400px;
            width: auto;
            max-width: 100%;
            border-radius: 20px;
        }
    }
}

@media screen and (max-width:764px){
    
}