@use 'default';
@import './animations.scss';

#news{
    padding: 20px 0;
    *{
        font-family: "Roboto", sans-serif;
    }

    h1{
        cursor: pointer;
        width: fit-content;
        -moz-user-select: -moz-none;
        -o-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        &:after{
            transition: 0.3s ease;
            content: '\25BC';
            margin: 0 0 0 16px;
            opacity: 0.5;
        }
        &[data-menu-visible="true"]{
            &:after{
                opacity: 1 !important
            }
        }
        &:hover{
            &:after{
            opacity: 0.75
            }
        }
    }

    #toggle-news{
        overflow-y: auto;
    }

    .news-list-grid{
        max-width: 75%;
        display: grid;
        grid-gap: 8px;
        grid-auto-rows: minmax(auto, auto);
        grid-auto-flow: dense;
    }

    #toggle-news{
        line-height: 0;
        visibility: hidden;
        opacity:0;
        transition: line-height 0.4s ease, 
                    opacity 0.1s ease,
                    visibility 0.1s ease;
        ul{
            li{
                margin: 0 16px 0 0;
                a{
                    font-size: 1.5em;
                    font-weight: 500;
                    color: #0008;
                    transition: color 0.3s ease;
                    &:hover{
                        color: #000b;
                    }
                    &:active{
                        color: #000f;
                    }
                }
                &:before{
                    content: none
                }
            }
        }
        &[data-visible="true"]{
            line-height: unset;
            visibility: visible;
            opacity: 1
        }
    }

    .one-news{
        position: relative;
        span.pin-icon{
            position: absolute;
            top: 0;
            right: 0;
            /* font-size: 20px; */
            /* transform: translate(-50%, -50%); */
            /* background: green; */
            padding: 6px;
            /* border-radius: 8px; */
            /* background-color: whitesmoke; */
        }

        grid-column-end: span 1;
        color:black;
        transition: 0.2s ease;
        background-color:#80808010;
        padding: 8px 16px;
        border-radius: 8px;
        box-shadow: 0 1px 2px #0002;
        *{
            transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1);
        }
        &:hover{
            background-color: #80808020;
            .props-news-list{
                p.prop-news{
                    opacity: 1;
                }
            }
            .news-annotation{
                p{opacity: 1;}
            }
        }

        &:active{
            background-color: #ffff;

        }

        span.created-date-news{
            opacity: 0.6;
            font-size: 0.9em;
        }

        h2{
            font-weight: 500 !important;
            font-size:1.5em;
            margin: 6px 0;
        }
        .props-news-list{
            p.prop-news{
                opacity: 0.8;
                padding: 0 16px 4px 0;
                span{
                    font-weight: normal;
                }
            }
        }

        .news-annotation{
            p{
                opacity: 0.8;
                font-size:16px;    
                overflow-wrap: anywhere;
                word-wrap: all;
                -ms-word-wrap: all;
            }
        }

        &.news-with-annotation{
            grid-column-end: span 2;
        }

        @media screen and (max-width:768px){
            &.news-with-annotation{
                grid-column-end: span 1;
            }
        }

        span{
            .pin-icon{
                margin: 0 8px 0 0;
            }
        }

    }
    .link-center{
        display: block;
        width: fit-content;
        margin: 16px auto;
        color: black;
        &.more-link{
            color: white;
            background: linear-gradient(default.$lblue, darkblue);
            background: -moz-linear-gradient(default.$lblue, darkblue);
            background: -o-linear-gradient(default.$lblue, darkblue);
            background: -webkit-linear-gradient(default.$lblue, darkblue);
            background: -ms-linear-gradient(default.$lblue, darkblue);
        }
            
    }
}

#fullnews{
    padding: 12px 24px;
    background: whitesmoke;
    border-radius: 8px;
    margin-top: 12px;
    .text__news{
        margin-top: 16px;
        *{
            font-family: "Roboto", sans-serif;
            font-size: 18px;
            line-height: 1.5;
        }
        p{
            margin-bottom: 8px !important;
        }
        
    }
    .docs__news{
        margin-top: 16px;
        a{
            display: block;
            color: black;
            text-decoration: underline;
            padding: 3px 0;
            &:hover{
                font-weight: 500;
            }
        }
    }
}