@use 'default';
$lightblue: rgb(216, 238, 245);

#title_main.news{
    background: default.$lgray;

    h1{text-align: center;}
    h1, h4{
        color: default.$dblue
    }

    .lastnews{
        *{color:black}
        h4{
            padding-bottom: 8px;
            margin-left: 8px ;
        }
        .last-one-news{
            background: white;
            box-shadow: 0 3px 5px default.$shadow;
            padding: 5px 10px;
            border-radius: 5px;
            margin:8px 0;
            transition: 0.25s ease;
            h6{
                padding: 0;
                margin: 0;
            }
            small{
                opacity: 0.85;
            }
            &:hover{
                transform: translateX(5px);
                background: $lightblue
            }
        }
    }
}

#news{
    .one-news{
        transition: 0.25s ease;
        &:hover{
            background:$lightblue;
        }
        *{color:black}
        background: whitesmoke;
        padding: 10px 15px;
        border-radius: 10px;
        margin-top: 20px;
        h5{
            // font-weight: bolder;
            span{
                color: default.$orange;
                font-size: medium;
            }
        }

        .props-news-list{
            p.prop-news{
                margin: 5px 15px 10px 0;
                span{
                    font-weight: normal;
                }
            }
        }
        p.news-text{
            margin-top: 10px;
        }
    }
}

@media screen and (max-width:448px){
    #title_main.news{
        .lastnews{
            .last-one-news{
                p{
                    display: none;
                }
            }
        }
    }
}

#fullnews{
    padding: 10px 20px;
    background: whitesmoke;
    border-radius: 10px;
    margin-top: 100px;
    .text__news{
        margin-top: 20px;
    }
    .docs__news{
        margin-top: 2.5em;
        a{
            display: block;
            color: black;
            text-decoration: underline;
            padding: 3px 0;
            &:hover{
                font-weight: 500;
            }
        }
    }
}