@use 'default';

form#search-form{
    display: block;
    padding: 24px 0;
    width: 100%;

    input#search-input{
        border: none;
        padding: 16px 0;
        font-size: 24px;
        width: 100%;
        height: auto;
        &:focus{
            outline: none;
            box-shadow: none;
        }
    }
}

#search-result{
    h2.title-category-search{

    }

    div.link-to-param-page{
        
        display: inline-block;
        margin: 4px 8px 4px 0;
        background: #eee;
        border-radius: 8px;
        position: relative;

        &:hover{
            background: #e0e0e0;
            a:after{
                margin-left: 16px;
            }
        }

        &:active{
            background: #d2d2d2;
        }

        a{
            padding: 8px 16px;
            display: block;
            color: default.$pink;
            font-weight: 500;
            text-decoration: none;
            &:after{
                content: "->";
                margin-left: 8px;
            }
        }
    }
}