@use 'default';

#title_main.student{
    background: linear-gradient(default.$lorange, default.$orange);
    background: -o-linear-gradient(default.$lorange, default.$orange);
    background: -moz-linear-gradient(default.$lorange, default.$orange);
    background: -webkit-linear-gradient(default.$lorange, default.$orange);

    .hash_list{
        margin-top: 5px;
        a{
            padding: 2px 0;
            color: white;
            font-weight: 550;
            display: list-item;
            list-style: none;
            cursor: pointer;
            &:after{
                transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                -o-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                -moz-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                content:"\0279C";
                opacity: 0.2;
                margin-left: 8px;
            }
            &:hover{
                &:after{
                    opacity: 1;
                    margin-left: 16px;
                }
            }
            &:active{
                &:after{
                    margin-left: 24px;
                }
            }
        }
    }
}

#studyplan{
    scroll-margin-top: 100px;
    
    .choose_field{
        height: auto;
        button{
            margin: 3px;
            width: 140px;
            transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            -o-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            -moz-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            color: default.$purple;
            font-weight: 500;
            border: 2px solid #98248FAA;
            &:hover{
                border: 2px solid default.$purple;
                background: linear-gradient(#B21F6640, #98248F40);
            }&:active{
                filter: none;
                border: 2px solid default.$purple;
                background: linear-gradient(#B21F6680, #98248F80);
            }
            &.active{
                transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                -o-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                -moz-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                transform: none;
                color: white;
                background: linear-gradient(default.$pink, default.$purple);
            }
        }
    }

    .year_choose{
        margin: 10px auto;
        
        img{
            width: inherit;
        }

        .table_plan{
            text-align: right;
            
            table{
                text-align: center;
                border-color: default.$lblue;
                th{
                    background: default.$lgray;
                    
                }
                td{
                    padding: 10px 5px;
                    font-size: 14px;
                }
            }
        }
    }
}


#curator{
    margin-top: 60px;
    scroll-margin-top: 80px;

    h2{color: default.$lblue; margin-bottom: 15px;}

    .curator_img{
        width: 100%;
        img{
            width: inherit;
        }
    }

    table.table{
        background: white;
        width: 100%;

        td{
            padding: 6px 8px;
            a{

                color: black;
                &:hover{
                    color: default.$lblue
                }
            }
        }
    }
}

#clubs{
    margin-top: 80px;
    scroll-margin-top: 100px;
    h2{color: default.$orange}

    .card_club{
        margin: 5px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(42, 42, 42, 0.2);
        padding: 5px;
        /* width: 100%; */
        /* max-width: 140px; */
        min-height: 150px;
        height: auto;
        max-height: 220px;
        transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

        img.card_club__img{
            display: block;
            margin: 0 auto;
            text-align: center;
            border-radius: 5px;
            width: auto;
            max-width: 100%;
            height: 100%;
            max-height: 120px;
        }
        
        p.card_club__body{
            text-align: center;
        }

        &:hover{
            transform: translateY(-2px);
            -o-transform: translateY(-2px);
            -moz-transform: translateY(-2px);
            -webkit-transform: translateY(-2px);
            box-shadow: 0 4px 8px rgba(42, 42, 42, 0.2);
        }

        &:active{
            transform: scale(0.97);
            -o-transform: scale(0.97);
            -moz-transform: scale(0.97);
            box-shadow: 0 1px 2px rgba(42, 42, 42, 0.2);
            -webkit-transform: scale(0.97);
        }

    }
}

#work{
    margin-top: 80px;
    .work__title{
        h2{
            color: default.$dmint;
        }
        p{
            a{color: default.$dmint; font-weight: bolder;}
        }
        .more-link{
            color: white;
            background: linear-gradient(default.$mint, default.$dmint );
        }
    }

    .work__img{
        width: 100%;
        text-align: center;
        img{
            padding: 20px;
            width: 100%;
        }
    }
}

@media screen and (max-width: 567px){
    .year_choose{
        width: 100% !important;
    }
}