@use 'default';

#title_main.student{
    background: linear-gradient(default.$lorange, default.$orange);
    background: -o-linear-gradient(default.$lorange, default.$orange);
    background: -moz-linear-gradient(default.$lorange, default.$orange);
    background: -webkit-linear-gradient(default.$lorange, default.$orange);

    .hash_list{
        margin-top: 4px;
        a.link{
            &.for-bakalavriat, &.for-magistratura{
                color: white;
                text-align: center;
                margin: 8px 4px;
                font-size: 18px;
            }

            &.for-bakalavriat{
                background-color: default.$lblue;
            }
            &.for-magistratura{
                background-color: default.$pink;
            }
            display: block;
            padding: 4px 8px;
            margin: 4px;
            background-color: white;
            text-align: left;
            color: default.$orange;
            border-radius: 4px;
            font-weight: 550;
            transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
            // display: list-item;
            // list-style: none;
            cursor: pointer;
            &:hover{
                transform: scale(1.03);
            }
            &:active{
                transform: scale(0.97);
            }
        }
    }
}

#studyplan{
    scroll-margin-top: 60px;
    h2{
        color: default.$pink
    }
    .choose_field{
        height: auto;
        button{
            margin: 3px;
            width: 120px;
            transition: all 0.2s ease;
            -webkit-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            color: default.$purple;
            font-weight: 500;
            border: 2px solid #98248FAA;
            &:hover{
                border: 2px solid default.$purple;
                background: linear-gradient(#B21F6640, #98248F40);
            }&:active{
                filter: none;
                border: 2px solid default.$purple;
                background: linear-gradient(#B21F6680, #98248F80);
            }
            &.active{
                transform: none;
                color: white;
                background: linear-gradient(default.$pink, default.$purple);
            }
        }
    }

    .year_choose{
        margin: 10px auto;
        
        img{
            width: inherit;
        }

        .table_plan{
            text-align: right;

            table{
                text-align: center;
                border-color: default.$lblue;
                th{
                    background: default.$lgray;
                    
                }
                td{
                    padding: 8px;
                    font-size: 0.9em;
                    min-width: 120px;
                }
            }
        }
    }
}


#curator{
    margin-top: 60px;
    scroll-margin-top: 80px;

    h2{color: default.$lblue; margin-bottom: 15px;}

    .curator_img{
        width: 100%;
        @media screen and (max-width: 768px) {
            display: none;
        }
        img{
            width: inherit;
        }
    }

    table.table{
        background: white;
        width: 100%;

        td{
            padding: 6px 8px;
            a{

                color: black;
                &:hover{
                    color: default.$lblue
                }
            }
        }
    }
}

#clubs{
    margin-top: 60px;
    scroll-margin-top: 100px;
    h2{color: default.$orange}

    .card_club{
        margin: 0.25rem;
        height: 160px;
        border-radius: 12px;
        box-shadow: 0 2px 4px default.$shadow;
        padding: 0.3em 0.5em;
        transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        position: relative;

        img.card_club__img{
            transition: all 0.3s ease;
            position: absolute;
            object-fit: cover;
            left: 0;
            right: 0;
            top: 0;
            border-radius: 12px;
            margin: 0 auto;
            text-align: center;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
        
        p.card_club__body{
            transition: all 0.3s ease;
            text-align: left;
            visibility: hidden;
            opacity: 0;
            color: white;
            z-index: 1;
        }

        &:hover{
            transform: translateY(-2px);
            -o-transform: translateY(-2px);
            -moz-transform: translateY(-2px);
            -webkit-transform: translateY(-2px);
            box-shadow: 0 4px 8px rgba(42, 42, 42, 0.2);
            img.card_club__img{
                filter: brightness(0.25);
            }
            p.card_club__body{
                opacity: 1;
                visibility: visible;
            }
        }

        &:active{
            transform: scale(0.97);
            -o-transform: scale(0.97);
            -moz-transform: scale(0.97);
            box-shadow: 0 1px 2px rgba(42, 42, 42, 0.2);
            -webkit-transform: scale(0.97);
            img.card_club__img{
                filter: brightness(0.25);
            }
            p.card_club__body{
                opacity: 1;
                visibility: visible;
            }
        }

    }
}

#work{
    margin-top: 80px;
    .work__title{
        h2{
            color: default.$dmint;
        }
        p{
            a{color: default.$dmint; font-weight: bolder;}
        }
        .more-link{
            color: white;
            background: linear-gradient(default.$mint, default.$dmint );
        }
    }

    .work__img{
        width: 100%;
        text-align: center;
        img{
            padding: 20px;
            width: 100%;
        }
    }
}

@media screen and (max-width: 567px){
    .year_choose{
        width: 100% !important;
    }
}