@use './pages/styles/default.scss';
@import '~bootstrap';

#content{
    margin-top: 60px;
}

#content-admin{
    margin-top: 100px;
}

#Login{
    padding: 40px 0;
    h2{
        margin-bottom: 20px;
    }
}

#LoadingScreen{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: radial-gradient(default.$pink, default.$purple);
    z-index: 1300;
    transition: all 0.3s ease;
    
    &.loading-screen-enter, &.loading-screen-exit-active {
        opacity: 0
    }
    
    &.loading-screen-enter-active, &.loading-screen-enter-done,  &.loading-screen-exit {
        opacity: 1
    }

    .LoadingSpinner{
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -25px 0 0 -25px;
        width: 50px;
        height: 50px;
        border: 5px solid white;
        border-radius: 50%;
        opacity: 0.5;
        animation: spinner 1s ease-in-out infinite alternate backwards;
    }

    @keyframes spinner {
        from{
            transform: scale(1);
        }
        to {
            transform: scale(1.5);
        }
    }
}

#close-modal-btn{
    position: fixed;
    font-size: 1.75em;
    line-height: 0.75rem;
    top: 0;
    right: 0;
    z-index: 1300;
    cursor: pointer;
}

#PageUpButton{
    z-index: 120;
    position: fixed;
    right: 15px;
    bottom: 15px;
    opacity: 0;
    transition: 0.25s ease;
    visibility: hidden;
    &:hover{
        transform: translateY(-5px);;
    }
    &.visible{
        visibility: visible;
        opacity: 1;
    }
}


.html-adaptive{

    word-wrap: break-word;
    max-width: 100%;
    
    img{
        max-width: 100%;
        height: auto;
        width: inherit;
    }
    table{
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        border: none !important;
        td, th{
            padding: 0.1em 0.2em;
        }
    }
    iframe{
        width: inherit;
        height: auto;
        max-width: 100%;
    }
}


.modal_window{
    z-index: 1291;
    max-width: 90%;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: -o-fit-content;
    width: auto;
    position: fixed;
    background: white;
    border-radius: 8px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    height: fit-content;
    height: auto;
    max-height: 85%;
    padding: 1em 1.75em;
    overflow: auto;

    .btn-close-modal{
        padding: 0;
        margin: 0;
        color: red;
        font-size: 2em;
        position: absolute;
        right: 0;
        top: 0;
        transition: 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
        -o-transition: 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
        -moz-transition: 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
        -webkit-transition: 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
}

.more-link{
    font-weight: normal;
    padding: 8px 20px;
    color: white;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    display: inline-block;
    margin-top: 1em;

    @extend .transform-scale;
    @extend .transition-cubic;

    &:hover{
        text-decoration: none;
        color:white
    }

    &[disabled]{
        opacity: 0.35;
        cursor: not-allowed;
    }

    &:focus{
        outline: none
    }
}