@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
// font-family: 'Inter', sans-serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Nunito', sans-serif;
// font-family: 'Fira Sans', sans-serif;
// font-family: 'Open Sans', sans-serif;

$pink: #B21F66;
$lgray: #c8d6e5;

*{
    padding: 0;
    margin: 0;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Nunito", sans-serif;
    font-weight: bolder !important;
}

p,a,span,button, li{
    // font-family: 'Open Sans', sans-serif;
    font-family: 'Fira Sans', sans-serif;
    box-shadow: none;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0 !important;
}

li{
    list-style-position: inside;
}

ul{
    li{
        list-style-type: none;
        &:before{
            content: "—";
            margin-right: 4px;
        }
    }
}

a, button{
    color: black;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    &.btn:focus{
        outline: none;
        box-shadow: none;
    }
    &:hover{
        text-decoration: none !important;
    }
    p{
        color: black;
    }
}

.more-link{
    font-weight: normal;
    padding: 8px 20px;
    color: white;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    display: inline-block;
    margin-top: 15px;
    transition: all 0.4s cubic-bezier(0.1, 0.8, 0.3, 1.2);
    -o-transition: all 0.4s cubic-bezier(0.1, 0.8, 0.3, 1.2);
    -moz-transition: all 0.4s cubic-bezier(0.1, 0.8, 0.3, 1.2);
    -webkit-transition: all 0.4s cubic-bezier(0.1, 0.8, 0.3, 1.2);

    &.disabled{
        opacity: 0.5;
        cursor: not-allowed;
    }

    &:hover{
        transform: scale(1.03);
        -webkit-transform: scale(1.03);
        text-decoration: none;
        color:white
    }

    &:active{
        transform: scale(0.95);
        filter: brightness(0.85);
        -o-filter: brightness(0.85);
        -moz-filter: brightness(0.85);
        -webkit-transform: scale(0.95);
        -o-transform: scale(0.95);
        -moz-transform: scale(0.95);
        -webkit-filter: brightness(0.85);
    }

    &:focus{
        outline: none
    }
}

@keyframes openup {
    from{top: 53%}
    to{top:50%}
}

@-o-keyframes openup {
    from{top: 53%}
    to{top:50%}
}


@-moz-keyframes openup {
    from{top: 53%}
    to{top:50%}
}


@-webkit-keyframes openup {
    from{top: 53%}
    to{top:50%}
}

.modal_window{
    &.animation-modal-open{
        -moz-animation: openup 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 100ms 1 normal forwards;
        animation:  openup 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 100ms 1 normal forwards;
        -webkit-animation:  openup 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 100ms 1 normal forwards;
        -o-animation:  openup 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 100ms 1 normal forwards;
    }
    z-index: 1291;
    max-width: 90%;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: -o-max-content;
    width: max-content;
    position: fixed;
    background: white;
    border-radius: 5px;
    left: 50%;
    top: 53%;
    transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    height: fit-content;
    height: auto;
    max-height: 85%;
    padding: 20px;
    overflow: auto;

    .btn-close-modal{
        padding: 0;
        margin: 0;
        background: none;
        border: none;
        outline: none;
        box-shadow: none;
        color: red;
        font-size: 36px;
        position: absolute;
        right: 0px;
        top: 0px;
        transition: 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
        -o-transition: 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
        -moz-transition: 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
        -webkit-transition: 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
}