$dblue: #080F36;
$lblue: #354ED1;
$lgray: #c8d6e5;

#footer{
    background: $dblue;
    width: 100%;
    color:$lgray;
    padding: 20px 0;
    z-index: 2;
    position: relative;
    margin-top: 24px;
    
    .footer_nav{

        ul.list_footer_nav{
            li.list-item{
                &:before{
                    content: none;
                }
                padding: 0.25em 0;
                a{
                    cursor: pointer;
                    color: $lgray;
                    &:hover{
                        text-decoration: none;
                        color: white
                    }
                }

                &.main.not_active{
                    opacity: 0.5;
                    color: $lgray;
                    a{cursor: not-allowed;}
                }
            }
        }
    }

    .footer_contacts{
        .contacts{

            p{
                padding-bottom: 1em;
                transition: all 0.2s ease;
                span{
                    a{
                        text-decoration: none;
                        color:$lgray;
                    }
                    opacity:60%;
                    font-size: 12px;
                    cursor: pointer;

                    &:hover{
                        opacity: 90%;
                    }
                }

                i.email{
                    text-decoration-line: underline;
                    cursor: pointer;
                    &:hover{
                        color: $lblue
                    }
                }

            }
        }
    }
    .other_info{
        width: 100%;
        img{
            cursor: pointer
        }
        p{
            font-size: 12px;
        }
        hr{
            border-color: $lgray;
        }
    }

    .cogs-info{
        display: block;
        i{
            &:hover{
                &::before{
                    visibility: visible;
                    opacity: 1;
                }
            }
            &::before{
                transition: 0.3s ease;
                visibility: hidden;
                opacity: 0;
                position: absolute;
                right: 2rem;
                display: flex;
                font-size: 0.7em;
                content:"Сайт был разработан в рамках проекта ГПО УИ-2006 в 2020 году. Разработчик: Марков Илья";
                padding: 4px;
            }
        }
    }
}