$dblue: #080F36;
$blue: #111D5E;
$purple: #98248F;
$pink: #B21F66;
$orange: #DE7128;
$lorange: #EE9A2F;
$lgray: #c8d6e5;

@keyframes fadein{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

#bg-menu-open{
    animation-name: fadein;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    position: fixed;
    background: rgba(0, 0, 0, 0.465);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1100;
}

#sider{
    position: fixed;
    height: 100%;
    top: 0;
    left: -250px;
    max-width: 300px;
    width: 250px;
    max-height: 100vh;
    transition: all 0.3s cubic-bezier(0.1, 0.9, 0.3, 1);
    -webkit-transition: all 0.3s cubic-bezier(0.1, 0.9, 0.3, 1);
    background: $blue;
    z-index: 1100;
    overflow-y: auto;
    overflow-block: red;

    .top-navbar-btns{
        position: relative;
        padding: 0 15px;
        top: 15px;
        align-items: center;
        span.close_nav{
            cursor: pointer;
        }
    
        span.login_span{
            cursor: pointer;
        }
    }

    

    &.open{
        left: 0;
    }

    .menu{
        margin-top: 50px;
        padding-bottom: 20px;
        font-weight: medium;

        .link{
            padding: 5px 10px 5px 15px;
            display: list-item;
            color: $lgray;
            text-decoration: none;
            -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            align-items: center;
            width: 100%;

            &[aria-expanded="true"]{
                span{
                    transform: rotate(180deg);
                    -webkit-transform: rotate(180deg);
                }
            }

            // this is for news and degrees
            span{
                width: auto;
                height: inherit;
                transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                margin-left: auto;

                // border: 1px solid white;

                img{
                    width: 30px;
                    height: 30px;
                    padding: 2px;
                }
            }

            &.active{
                color: white;
                transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                background: linear-gradient(to left, transparent 50%, rgba(255, 255, 122554, 0.3)) ;
                background: -o-linear-gradient(to left, transparent 50%, rgba(255, 255, 255, 0.3)) ;
                background: -moz-linear-gradient(to left, transparent 50%, rgba(255, 255, 255, 0.3));
                background: -webkit-linear-gradient(to left, transparent 50%, rgba(255, 255, 255, 0.3));
                // &:before{
                //     content:" ";
                //     position: relative;
                //     height: 100%;
                //     left: -15px;
                //     background: white;
                //     border: 1.5px solid white;
                // }
            }

            &:hover{
                color: white;
                background: linear-gradient(to left, transparent 35%, rgba(255, 255, 255, 0.1)) ;
                background: -o-linear-gradient(to left, transparent 35%, rgba(255, 255, 255, 0.1)) ;
                background: -moz-linear-gradient(to left, transparent 35%, rgba(255, 255, 255, 0.1));
                background: -webkit-linear-gradient(to left, transparent 35%, rgba(255, 255, 255, 0.1));
            }
            &:active{
                color: white;
                background: linear-gradient(to left, transparent 42%, rgba(255, 255, 255, 0.2)) ;
                background: -o-linear-gradient(to left, transparent 42%, rgba(255, 255, 255, 0.2)) ;
                background: -moz-linear-gradient(to left, transparent 42%, rgba(255, 255, 255, 0.2));
                background: -webkit-linear-gradient(to left, transparent 42%, rgba(255, 255, 255, 0.2));
            }
        }

        // this is for main link w// submenu
        .collapse_links{
            .open_sub{
                width: auto;
                height: inherit;
                padding: 5px 10px 5px;
                transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                // border: 1px solid white;

                &[aria-expanded="true"]{
                    transform: rotate(180deg);
                }

                img{
                    width: 30px;
                    height: 30px;
                    padding: 2px;
                }
            }
        }

        .submenu{

            background: $dblue;
            a{
                display: list-item;
            }
        }
    }
}