@use '../styles/default.scss';

#admin{
    display: grid;
    grid-template-columns: minmax(100px, 250px) 1fr;
    grid-template-rows: 1fr;

    #admin-navigation{
        height: 100%;
        padding: 4px;
        .admin-link{
            color: default.$lblue;
            width: 100%;
            display: block;
            padding: 4px 8px;
            border-radius: 8px;
            margin-right: 4px;
            &:hover{
                background: rgba(40, 47, 148, 0.1);

            }
            &:active{
                background: rgba(40, 47, 148, 0.25);
            }
            &.active{
                color: white;
                background: rgb(40, 48, 148);
            }
        }
        .add-admin-link{
            padding: 4px;
            width: 32px;
            height: 32px;
            text-align: center;
            border-radius: 12px;
            color: default.$dmint;
            &:hover{
                background:#6b63;
            }
            &:active{
                background: #6b65;
            }
            &.active{
                background: default.$dmint;
                color: white
            }
        }
    }

    #admin-panel{
        margin-top: 1em;
    }

}

.add_admin_button{
    color: #0F8455
}

.files-list{
    padding: 4px;
    .file-item{
        padding: 4px 8px;
        margin-top: 2px;
        background: whitesmoke;
        border-radius: 8px;
    }
    .file-error{
        &:after{
            content: url('https://api.iconify.design/bx:bxs-error-circle.svg?height=24&color=red');
            vertical-align: -0.125em;
            position: absolute;
            right: 4px;
        }
        position: relative;
        background: rgb(232, 198, 198);
    }
}