@use '../styles/default.scss';

#knowledge{
  padding-top: 20px;

  .knowledge-marks-list{
    .navigation-knowledge-link{
      width: 32px;
      height: 32px;
      padding: 1em;
      margin: 0 8px;
      border-radius: 1em;
      cursor: pointer
    }
  }

  .navigation-knowledge-type{
    margin: 0 0.5em;
    @extend .bg-linear-gray;
  }

  .knowledge-item-marks{
    align-self: end;
    justify-self: end;
    grid-row: 2;
    grid-column: 2 / 4;
    text-align: right;
    .mark{
      cursor: pointer;
      --size: 16px;
      width: var(--size);
      height: var(--size);
      border-radius: 1em;
      margin: 0 4px;
    }
  }

  .uk-mark{
    background-color: default.$pink;
  }
  .i-mark{
    background-color: default.$lblue;
  }
  .rt-mark{
    background-color: default.$mint;
  }
  .all-mark{
    background-color: default.$lorange;
  }

  .knowledge-item{
    box-shadow: 0 1px 2px default.$shadow;
    position: relative;
    padding: 0.25em 0.5em;
    display: grid;
    grid-template: 1fr / 100px 1fr;
    grid-gap: 0.5em;
    border-radius: 8px;
    margin: 0.25em 0.5em;
    @extend .transition-cubic;
    .knowledge-item-title{
      text-align: left;
    }

    .knowledge-item-image{
      --size: 100px;
      width: var(--size);
      height: var(--size);
      border-radius: 0.5em;
      img{
        background-color: #fff;
        border-radius: 8px;
        width: inherit;
        height: inherit;
        object-fit: fill;
        object-position: center;
        -o-object-fit: fill;
        -o-object-position: center;
      }
    }

    .knowledge-item-description{
      z-index: 1;
      border-radius: 8px;
      padding: 4px 16px 4px 8px;
      font-size: 0.9em;
      background: white;
      color: default.$dark;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      max-height: inherit;
      overflow-y: auto;
      text-align: left;
      opacity: 0;
      visibility: hidden;
      transform: scale(0.95); 
      @extend .transition-cubic;

      &.knowledge-item-description-enter, &.knowledge-item-description-exit-active, &.knowledge-item-description-exit-done {
        opacity: 0;
        visibility: hidden;
        transform: scale(0.95)
      }
    
      &.knowledge-item-description-enter-active,  &.knowledge-item-description-exit, &.knowledge-item-description-enter-done {
          opacity: 1;
          visibility: visible;
          transform: scale(1)
      }
    }

    .knowledge-item-content{
      position: relative;
      display: grid;
      grid-template: 1fr auto / 1fr auto 30px;

      .knowledge-item-title{
        grid-column: 1 / 3;
        h5{margin: 0;}
      }

      .knowledge-info-button{
        z-index: 2;
        grid-column: 3;
        grid-row: 1;
        align-self: start;
        justify-self: end;
        cursor: pointer;
        &:before{
          content: url('https://api.iconify.design/jam:info-f.svg?color=orange&height=24');
          vertical-align: -0.125em;
        }
      }

      .knowledge-item-links{
        grid-row: 2;
        grid-column: 1;
        .knowledge-icon{
          cursor: pointer;
          --size: 32px;
          padding: 4px;
          margin: 0 4px;
          width: var(--size);
          height: var(--size);
          box-shadow: 0 1px 2px 0 #0004;
          border-radius: 8px;

          &.icon-yandex::before{
            content: url('https://api.iconify.design/brandico:yandex.svg?height=24');
            vertical-align: -0.125em;
          }

          &.icon-spotify::before{
            content: url('https://api.iconify.design/bx:bxl-spotify.svg?height=24');
            vertical-align: -0.125em;
          }

          &.icon-vk::before{
            content: url('https://api.iconify.design/cib:vk.svg?height=24');
            vertical-align: -0.125em;
          }

          &.icon-apple-podcast::before{
            content: url('https://api.iconify.design/cib:apple-podcasts.svg?height=24');
            vertical-align: -0.125em;
          }

          &.icon-app-store::before{
            content: url('https://api.iconify.design/logos:apple-app-store.svg?height=24');
            vertical-align: -0.125em;
          }

          &.icon-play-market::before{
            content: url('https://api.iconify.design/logos:google-play-icon.svg?height=24');
            vertical-align: -0.125em;
          }

          &.icon-other::before{
            content: url('https://api.iconify.design/flat-color-icons:link.svg?height=24');
            vertical-align: -0.125em;
          }
          
          &.icon-soundcloud::before{
            content: url('https://api.iconify.design/bx:bxl-soundcloud.svg?height=24');
            vertical-align: -0.125em;
          }

        }
      }
    }
  }

  .knowledge-smallitem{
    @extend .knowledge-item;
    grid-template: 1fr / 72px 1fr;
    z-index: 2;

    .knowledge-smallitem-image{
      @extend .knowledge-item-image;
      --size: 72px;
      width: var(--size);
      height: var(--size);
    }

    .knowledge-smallitem-description{
      @extend .knowledge-item-description;
      transform: none;
      --position: 140px;
      max-height: var(--position);
      top: 95%;
      
      &.knowledge-smallitem-description-enter, &.knowledge-smallitem-description-exit-active, &.knowledge-smallitem-description-exit-done {
        opacity: 0;
        visibility: hidden;
        border-radius: 8px;
        z-index: -1;
        min-height: 0;
        top: 95%;
      }
    
      &.knowledge-smallitem-description-enter-active,  &.knowledge-smallitem-description-exit, &.knowledge-smallitem-description-enter-done {
        opacity: 1;
        visibility: visible;
        border-radius: 0 0 8px 8px;
        box-shadow: 0 2px 2px default.$shadow;
        z-index: 0;
        top: 100%;
        min-height: var(--position);
      }

    }

    .knowledge-smallitem-content{
      @extend .knowledge-item-content;
    }
  }
}